:root {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--white);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --white: #FFFFFF;
    --black: #2C2C2C;
    --background-color: #212121;
    --transparent-background: rgb(0, 0, 0, 0.2);
    --buttons-monotone-color: #747475;
    --borders-color: #5A5A5A;
    --text-dark: #3B3A3B;
    --text-highlight-color: #0D99FF;
    --module-padding: 16px 18px 20px;
    --module-gap: 16px;
    --border-radius: 8px;
    --border-radius-mini: 6px;
    --border: 1px solid var(--borders-color);

    --menu-gradient: linear-gradient(90deg,
    #806D50 0%,
    #6E4245 30%,
    #3F6A56 60%,
    #2D5A7B 100%
    );

    --circle-posittion: 10% 90%;

    --healper-gradient: radial-gradient(
            circle at var(--circle-posittion),
            #2D5B7A 0%,
            #474C50 52%,
            #49494A 70%,
            #3B3C3E 100%
    );

    --files-gradient: radial-gradient(
            circle at var(--circle-posittion),
            #685B49 0%,
            #504D47 52%,
            #49494A 70%,
            #3B3C3E 100%
    );

    --console-gradient: radial-gradient(
            circle at var(--circle-posittion),
            #456554 0%,
            #475047 52%,
            #49494A 70%,
            #3B3C3E 100%
    );

    --memory-gradient: radial-gradient(
            circle at var(--circle-posittion),
            #6E4245 0%,
            #504749 52%,
            #49494A 70%,
            #3B3C3E 100%
    );

    --gradient-border-image: linear-gradient(90deg, #737B7B, #647576, #828181) 1;
}

button {
    outline: none;
}

input {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    place-items: center;
    min-width: 320px;
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

*, *::before, *::after {
    box-sizing: border-box;
}