.console-container{
    display: flex;
    flex-direction: column;
    flex: 3;
    min-width: 155px;
    background: var(--console-gradient);
}

.console-header{
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.console-output{
    border-top: var(--border-width) solid;
    border-image: var(--gradient-border-image);
    padding-left: 10px;
    position: relative;
    overflow: auto;
    flex: 1 1 0;
}


.console-header div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.console-header button{
    width: 22px;
}

.clean-up{
}

.collapse-button{
}

.console-container.collapsed .collapse-button svg {
    transform: rotate(-90deg);
}
