.console-container {
    display: flex;
    flex-direction: column;

    flex: 3;
    max-width: 400px;        /* нормальний стан */
    min-width: 200px;

    background: var(--console-gradient);

    --transition-time: 0.4s;
    transition:
            max-width var(--transition-time) ease,
            min-width var(--transition-time) ease,
            padding var(--transition-time) ease;
}

.console-container.collapsed {
    max-width: 32px;
    min-width: 32px;
    padding: 0 4px;
}


.console-container.collapsed .console-title,
.console-container.collapsed .clean-up,
.console-container.collapsed .console-output {
    display: none;
}

.console-header{
    user-select: none;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.console-container.collapsed .console-header {
    justify-content: center;
}


.console-output{
    border-top: var(--border-width) solid;
    border-image: var(--gradient-border-image);
    padding-left: 10px;
    position: relative;
    overflow: auto;
    flex: 1 1 0;
}

.console-input-line {
    display: flex;
    gap: 4px;
}

.console-input-line input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "Inter", sans-serif;
    width: 100%;
}


.console-header div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.console-header button{
    width: 22px;
}

.clean-up{
}


.collapse-button svg {
    transition: transform var(--transition-time) ease;
}

.console-container.collapsed .collapse-button {
    /*margin-top: 6px;   !* підбери значення *!*/
}

/* відкрита → стрілка вліво */
.console-container:not(.collapsed) .collapse-button svg {
    transform: rotate(-90deg);
}

/* закрита → стрілка вправо */
.console-container.collapsed .collapse-button svg {
    transform: rotate(90deg);
}