.memory-container{
    flex: 5;
    min-width: 455px;
    min-height: 40vh;
    padding-bottom: 10px;
    background: var(--memory-gradient);
    display: flex;
    flex-direction: column;
}

.memory-header{
    padding: 10px;
}