.memory-container{
    min-width: 300px;
    flex: 5;
    min-height: 40vh;
    gap: 12px;
    padding: 12px;
    background: var(--memory-gradient);
    display: flex;
    flex-direction: column;
}

.memory-header{
    
}