.menu-bar {
    width: 100%;
    background: var(--menu-gradient);
    color: var(--white);
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.menu-bar button{
    background: none;
    border: none;
}